<!DOCTYPE html>

<html>
	<head>
		<title>Orpheus Music</title>
		<link type="text/css" rel="stylesheet" href="/static/main.css" />
	</head>

	<body>
		<h1>ATLAS Lobby Music</h1>
		<div class="box">
			
			<p>Want to change the music? Louder? Softer? More chill? More lively? Particular genres, songs or artists?
				Let us know!</p>

		</div>

		<br><br>


		<form method="post">
			<label for="input">
				<input type="text" name="user_input" id="input" style="width: 50%; padding: 2px; border: 1px solid #000"><br>
			</label>
			<input type="submit" value="Submit">
		</form>

		<p> {{message}} </p>

	</body>
</html>