{% extends "base.html" %}
{% block title %}Orpheus - Dataview{% endblock %}
{% block head %}
    {{ super() }}
    <script type="text/javascript">
        onMessage = function(message) {
            var update = $.parseJSON(message.data);
            var msg = update.kind;
            switch (msg) {
                case 'channels':
                    document.location.reload(true);
                    break;
                case 'likes':
                    document.location.reload(true);
                    break;

                    /*var div = document.getElementById('likes');
                    for (var user in update.likes) {
                        var name = document.createElement("SPAN");
                        name.innerHTML = user;
                        div.appendChild(name);
                        for (var j = 0; j < user.length; j++) {
                            var like = document.createElement("SPAN");
                            like.setAttribute('class', 'right_align');
                            like.innerHTML = update.likes.user[i];
                            div.appendChild(like);
                            var br = document.createElement("BR");
                            div.appendChild(br);
                        }
                    }*/

                case 'votes':
                    for (var i = 0; i < update.votes.length; i++) {
                        document.getElementById(i + 1).innerHTML=update.votes[i].votes;
                    }
            }
        };
    </script>

{% endblock %}
{% block content %}

    <script>
        channel = new goog.appengine.Channel('{{ token }}');
        socket = channel.open();
        socket.onopen = onOpened;
        socket.onmessage = onMessage;
        socket.onerror = onError;
        socket.onclose = onClose;
    </script>

    <h2>Orpheus Dataview</h2>
    <div class="links">
        <a href="/queue">refresh</a>
        <a href="/vote">vote page</a>
    </div>
    <br>
    <div class="left">
        <form action="/queue" method="post">
            Queue:<br>
            {% for song in songs %}
                <input type="radio" name="remove" value="{{song['song']}}">{{song['song']}} - {{song['artist']}}<br>
            {% endfor %}
            <input type="submit" value="Remove"><br><br>
            Add to Queue:<br>
            Name: <input type="text" name="name" /><br>
            Artist: <input type="text" name="artist" /> (optional) <br>
            Genre: <input type="text" name="genre" /> (does nothing yet) <br> 
            Position: <input type="text" name="position" /> (0-indexed) <br> 
            <input type="submit" value="Submit">
        </form>
    </div>
    <br>
    <div class="right">
        <h3>Current Vote:</h3>
        <form action="/vote", method="post" id="votes">
            {% for song in vote_songs %}
                <input type="radio" name="vote" value="{{song['vote_order']}}">{{song['song']}} - {{song['artist']}}
                <span class="right_align" id="{{song['vote_order']}}">{{song['votes']}}</span><br>
            {% endfor %}
            <input type="hidden" value="a string" name="from_queue">
            <input type="submit" value="Vote!">
        </form>
        <br><br><br>
        <p>Use this button to start the next vote with the three top songs from the queue</p>
        <form action="/next" method="post">
            <input type="submit" value="Generate Next Vote">
        </form>
        <br><br><br>
        <h3>Users logged on:</h3>
        {% for key in users %}
            {{users[key]}}<br>
        {% endfor %}
        <br>
        <form action="/clear" method="post">
            <input type="submit" value="Clear Users">
        </form>
    </div>
    <br><br>
    <div class="left" id="suggestions">
        <h3>Suggestions</h3>
        {% for s in suggestions %}
            {{s.suggestion | safe}}<span class="right_align">{{s.created.strftime('%I:%M %p') | safe}}</span><br>
        {% endfor %}
    </div>
    <div class="left">
        <h3>Facebook likes</h3>
        <div id="likes">
            {% for i in range(1, length + 1) %}
                Music with {{i}} like(s):
                {% for like in likes[i] %}
                    <span class="right_align">{{like | safe}}</span><br>
                {% endfor %}
                <br>
            {% endfor %}
        </div>
    </div>
    <!--<div id="left">
        <h3>Saved Votes</h3>
        {% for entry in vote_db %}
            Vote on {{entry['time']}}<br><br> 
            {% for v in entry['votes'] %}
                {{v[0] | safe}}<span class="right_align">{{v[1] | safe}}</span><br>
            {% endfor %}
            <br><br>
        {% endfor %}
    </div>-->

{% endblock %}


