{% extends "base.html" %}
{% block title %}Orpheus - Vote for a song{% endblock %}
{% block head %}
    {{ super() }}

{% endblock %}
{% block content %}
    <h1>Vote for the next song!</h1>
    <script>
        channel = new goog.appengine.Channel('{{ token }}');
        socket = channel.open();
        socket.onopen = onOpened;
        socket.onmessage = onMessage;
        socket.onerror = onError;
        socket.onclose = onClose;
    </script>

    <div id="buttons" class="mobile_form">
        <strong><span class="left_align">Song</span><span class="right_align">Votes</span></strong><br><br>
        <script type="text/javascript">
            var div = document.getElementById('buttons');
            var obj = {{songs | safe}};
            console.error(obj.voted);

            for (var i = 0; i < 3; i++) {
                var btn = document.createElement("BUTTON");
                btn.setAttribute('class', 'button');
                btn.setAttribute('id', obj.songs[i][0] + '_name')
                if (obj.voted === true)
                    btn.disabled = true;      
                var t = document.createTextNode(obj.songs[i][0]);
                var br = document.createElement("BR");
                var num_votes = document.createElement("SPAN");
                num_votes.innerHTML = obj.songs[i][1];
                num_votes.setAttribute('class', 'right_align');
                num_votes.setAttribute('id', obj.songs[i][0])
                btn.appendChild(t);
                div.appendChild(btn);
                div.appendChild(br);
                div.appendChild(num_votes);
                div.appendChild(br);                
                btn.onclick = (function() {
                    var currentI = i;
                    return function() {
                        document.getElementById("vote").value=obj.songs[currentI][0];
                        document.button_submit.submit();
                }

                })();
                
            }
        </script>

        <form name="button_submit" action="/vote" method="post">
            
                <input type="hidden" name="vote" value="" id="vote">
                <input type="hidden" name="voted" value="" id="voted">
                <br><br>
            <div class="buttonHolder">
                Suggestions?<br><br>
                <input type="text" name="suggestion">
                <input type="submit" value="Submit">
            </div><br>
            <div id="message" class="message">{{message | safe}}</div>
            <!--<div class="user">user: {{user}}</div>-->
        </form>
    </div>
{% endblock %}