{% extends "base.html" %}
{% block title %}Orpheus - Vote for a song{% endblock %}
{% block head %}
    {{ super() }}

{% endblock %}
{% block content %}
    
    <script>
        channel = new goog.appengine.Channel('{{ token }}');
        socket = channel.open();
        socket.onopen = onOpened;
        socket.onmessage = onMessage;
        socket.onerror = onError;
        socket.onclose = onClose;
    </script>


    <br><br>
    <img src="http://i.imgur.com/uceAG8d.png" width="50%" alt="orpheus music" class="center_image"/>
    <div class="header">
        <img src="/static/orpheus_harp.png" width="50px">
        Vote for the next song!
        <img src="/static/orpheus_harp.png" width="50px">
    </div>
    <br><br>

    <div id="buttons" class="mobile_form">
        <script type="text/javascript">
            var div = document.getElementById('buttons');
            var obj = {{songs | safe}};

            for (var i = 0; i < obj.songs.length; i++) {
                var btn = document.createElement("BUTTON");
                btn.setAttribute('class', 'button');
                btn.setAttribute('id', 'button' + i);

                var img = document.createElement("IMG");
                img.setAttribute('class', 'song-img');
                img.setAttribute('src', '/static/album_art.jpeg');
                btn.appendChild(img);

                var info = document.createElement("DIV");
                info.setAttribute('class', 'song-info');
                btn.appendChild(info);

                var song_name = document.createElement("DIV");
                song_name.setAttribute('class', 'song-name');
                song_name.setAttribute('id', 'song' + i);
                song_name.innerHTML = obj.songs[i].song;
                info.appendChild(song_name);

                var votes = document.createElement("DIV");
                votes.setAttribute('class', 'vote-count');
                votes.setAttribute('id', 'votes' + i);
                votes.innerHTML = obj.songs[i].votes;
                info.appendChild(votes);

                var artist = document.createElement("DIV");
                artist.setAttribute('class', 'song-artist');
                artist.setAttribute('id', 'artist' + i);
                artist.innerHTML = obj.songs[i].artist;
                info.appendChild(artist);

                var br = document.createElement("BR");

                if (obj.voted === true) {
                    btn.disabled = true;
                    btn.style.background='grey';
                }

                div.appendChild(btn);
                div.appendChild(br);
                div.appendChild(br);
                btn.onclick = (function() {
                    var currentI = i;
                    return function() {
                        document.getElementById("vote").value = currentI + 1;
                        document.button_submit.submit();
                    }

                })();
                
            }
        </script>

        <form name="button_submit" action="/vote" method="post">
            <input type="hidden" name="vote" value="" id="vote">
            <input type="hidden" name="voted" value="" id="voted">
            <br><br>
            <div class="buttonHolder">
                <h3>Suggestions?</h3>
                <input type="text" name="suggestion">
                <input type="submit" value="Submit">
            </div><br>
            <div id="message" class="message">{{message | safe}}</div>
            <!--<div class="user">user: {{user}}</div>-->
        </form>
    </div>

    <br><br>

    <div class="mobile_links">{{welcome}}
        <a href="/auth/logout">Logout</a>
    </div>
{% endblock %}